/* button */

.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;

  display: inline-block;
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;
  text-align: center;

  border: 1px solid #000;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: transparent;
}

.button.secondary {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}
