/* Snap photos section - Features */
.features-list {
  display: flex;
  flex-wrap: wrap;

  /* margin: -40px -75px; */
}

.features-list .item {
  background-color: rgb(222, 210, 255);
  width: 625px;

  margin-right: 150px;
  margin-bottom: 40px;
}

/* 3, 6, 9, ... */
.features-list .item:nth-child(2n) {
  margin-right: 0;
}

/* last 2 elements */
.features-list .item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.features-list .text {
  margin-top: 0;
  margin-bottom: 32px;
  color: var(--title-text-color);
}
/* --- */
