/* Snap photos section - Features */
.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list .item {
  width: 400px;
  background-color: rgb(222, 210, 255);
}

.features-list .title,
.work-list .title {
  margin-top: 0;
  margin-bottom: 24px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.features-list .text {
  margin-top: 0;
  margin-bottom: 32px;
  color: var(--title-text-color);
}
/* --- */
