/* LOGO */
.logo {
  color: var(--title-text-color);

  font-family: Comfortaa, cursive;
  font-size: 24px;
  line-height: 1.14;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
/* --- */
