/* nav-site */
.nav-site a {
  color: var(--accent-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}

.nav-site a:hover,
.nav-site a:focus {
  color: var(--title-text-color);
}

.nav-site a.current {
  color: var(--title-text-color);
}
/* --- */
