/* Work examples */
.work-list .item {
  padding-top: 80px;
  padding-bottom: 80px;
}

.work-list .item:nth-child(2n) {
  background-color: var(--secondary-bg-color);
}

.work-list .text {
  margin-top: 0;
  margin-bottom: 0;
}

/* --- */
